<main class="min-h-screen bg-gray-50">
  <nav class="border-b sticky top-0 z-50 bg-[#020126]" >
    <div class=" px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between items-center h-20">
        <div class="flex items-center gap-2">
          <svg
            class="w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 512"
          >
            <path
              fill="#7EE3DB"
              d="M381 114.9L186.1 41.8c-16.7-6.2-35.2-5.3-51.1 2.7L89.1 67.4C78 73 77.2 88.5 87.6 95.2l146.9 94.5L136 240 77.8 214.1c-8.7-3.9-18.8-3.7-27.3 .6L18.3 230.8c-9.3 4.7-11.8 16.8-5 24.7l73.1 85.3c6.1 7.1 15 11.2 24.3 11.2l137.7 0c5 0 9.9-1.2 14.3-3.4L535.6 212.2c46.5-23.3 82.5-63.3 100.8-112C645.9 75 627.2 48 600.2 48l-57.4 0c-20.2 0-40.2 4.8-58.2 14L381 114.9zM0 480c0 17.7 14.3 32 32 32l576 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L32 448c-17.7 0-32 14.3-32 32z"
            />
          </svg>
          <h1 class="text-2xl font-bold text-white">SIEMENS Leave Management</h1>
        </div>
        <div class="flex gap-2">
          <button
            class="flex items-center gap-1 px-3 py-1 rounded bg-gradient-to-r from-[#7EE3DB] to-[#88F8BF] hover:bg-gradient-to-t border border-slate-500 text-slate-900 font-semibold  text-sm"
          >
            Logout
          </button>
          <button
            (click)="goBack()"
            class="text-emerald-600 hover:text-gray-800 text-sm"
          >
            ← Home
          </button>
        </div>
      </div>
    </div>
  </nav>

  <div class="max-w-7xl mx-auto p-6">
    <div
      class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-4 mb-8"
    >
      <div>
        
        <p class="text-gray-600 mt-1">
          Manage employee leave requests and approvals
        </p>
      </div>
      <button
        class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded flex items-center gap-2 hover:cursor-pointer"
        (click)="showAddRequestForm = true"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
          class="w-4 h-4"
        >
          <path
            fill="currentColor"
            d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32v112H80c-17.7 0-32 14.3-32 32s14.3 32 32 32h112v112c0 17.7 14.3 32 32 32s32-14.3 32-32V256h112c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
          />
        </svg>
        Add New Request
      </button>
    </div>

    <app-add-request-form
      *ngIf="showAddRequestForm"
      (close)="showAddRequestForm = false"
    />

    <app-stats-cards />

    <div class="flex flex-wrap gap-2 mb-6">
      <button
        class="flex items-center gap-1 px-3 py-1 rounded bg-blue-600 text-white font-medium text-sm"
      >
        All
      </button>
      <button
        class="flex items-center gap-1 px-3 py-1 rounded bg-yellow-100 text-yellow-800 font-medium text-sm border border-yellow-200"
      >
        Pending
      </button>
      <button
        class="flex items-center gap-1 px-3 py-1 rounded bg-green-100 text-green-800 font-medium text-sm border border-green-200"
      >
        Approved
      </button>
      <button
        class="flex items-center gap-1 px-3 py-1 rounded bg-red-100 text-red-800 font-medium text-sm border border-red-200"
      >
        Rejected
      </button>
    </div>

    <app-add-requests />
  </div>
</main>
